@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: small;
}

#root {
  /* display: flex;
  height: 100%; */
  /* position: relative; */
  z-index: 100;
}

/* #sidebar {
  height: 100%;
  overflow-y: auto;
  padding: 4px;
} */

/* #sidebar div, #sidebar p, #sidebar input, #sidebar button {
  margin: 4px;
} */

#sidebar input {
  max-width: 100px;
}

#shell {
  /* width: 500px;
  height: 500px; */
  flex-grow: 1;
}

#gameContainer {
  /* position: relative; */
  /* width: 500px;
  height: 500px; */
  height: 100%;
  flex-grow: 1;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

input[type="color"]::-webkit-color-swatch {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  margin: 0;
  @apply border-2 border-yellow-950;
  box-sizing: border-box;
}

input[type="color"]::-moz-color-swatch {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  margin: 0;
  @apply border-2 border-yellow-950;
  box-sizing: border-box;
}

.rounded-input {
  @apply px-2 py-0.5 rounded-md;
}